/* Reset básico */
* {
  box-sizing: border-box;
}

.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f8fafc; /* branco */
  color: #020617;
  font-family: "Inter", system-ui, sans-serif;
  gap: 16px;
}

/* Header */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 48px;

  background: #dc2626; /* vermelho pokébola */
  border-bottom: 6px solid #020617; /* faixa preta da pokébola */
}

.header-content h1 {
  font-size: 2rem;
  margin: 0;
  color: #020617; /* preto */
}

.header-content p {
  margin: 6px 0 0;
  color: #1f2933; /* cinza escuro */
  font-size: 0.95rem;
}

/* Conteúdo */
.home-content {
  padding: 40px 48px;
}

/* Grid */
.teams-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

/* Card */
.team-card {
  background: #ffffff;
  border: 3px solid #ef4444; /* vermelho */
  border-radius: 36px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 120px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.team-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.team-card-header h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #020617;
  margin: 0;
}

/* Botões */
.primary-home-btn {
  background: #ffffff !important; 
  color: #000000 !important;
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
  width: auto !important;
  max-width: 200px;
}

.primary-home-btn:hover {
  background: #7f1d1d;
}

.secondary-btn {
  background: #ffffff !important;
  color: #000000 !important;
  border: 3px solid #020617 !important;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}

.secondary-btn:hover {
  background: #f8fafc;
  transform: translateY(-2px);
}

.team-card-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 41px;
}

.danger-btn {
  background: #ffffff;
  color: #dc2626;
  border: 3px solid #dc2626;
  cursor: pointer;
  border-radius: 10px;
}

.danger-btn:hover {
  background: #fee2e2;
  transform: translateY(-2px);
}

/* Estados */
.status {
  color: #94a3b8;
}

.empty-state {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.empty-state p {
  color: #232425;
  margin-bottom: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
  .home-header,
  .home-content {
    padding: 24px;
  }

  .home-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
